<a href="https://colab.research.google.com/github/dkurbatovv/LeetCode/blob/main/49_Group_Anagrams.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
class Solution(object):
    def groupAnagrams(self, strs):

      res = {}
      for item in strs:
        k = ''.join(sorted(item))  # делаем сортировку по символам
        if k not in res:  # смотрим есть ли сортированное слово с списке
            res[k] = []
        res[k].append(item)  # если нет, то добавляем ее в список, как слово которое получили мы на вход, не сортированное!!!
        #print(res[k])
      return [res[x] for x in res]  # Output

In [16]:
obj = Solution()
obj.groupAnagrams(["eat","tea","tan","ate","nat","bat"])

['eat']
['eat', 'tea']
['tan']
['eat', 'tea', 'ate']
['tan', 'nat']
['bat']

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]